.red{
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    /*box-sizing: border-box;*/
}

.green{
    width: 200px;
    height: 200px;
    background-color: green;
    position: absolute;
    top: 100%;
    left: 100%;
}

.blue{
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;
    top: 0%;
    left: 100%;
}

.yellow{
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: absolute;
    top: 100%;
    left: 0%;
}